[submodule "csrc/cutlass"]
	path = csrc/cutlass
	url = https://github.com/NVIDIA/cutlass.git
[submodule "csrc/flash_attn_rocm/composable_kernel"]
	path = csrc/flash_attn_rocm/composable_kernel
	url = https://github.com/ROCmSoftwarePlatform/composable_kernel
