*.ncu-rep
.DS_store

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
bin/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# IDE-related
.idea/

# Dev
venv

# AMD
scripts
csrc/flash_attn_ck
.eggs
log
*.log
core.*
gpucore.*
*.csv
*.png
*.html
*.json
*.txt
*.pth
*.md
training/logs
training/data
# ck modules
csrc/composable_kernel
csrc/cutlass
