recursive-include csrc *.cu
recursive-include csrc *.h
recursive-include csrc *.cuh
recursive-include csrc *.cpp
recursive-include csrc *.hpp

recursive-include vllm_flash_attn *.cu
recursive-include vllm_flash_attn *.h
recursive-include vllm_flash_attn *.cuh
recursive-include vllm_flash_attn *.cpp
recursive-include vllm_flash_attn *.hpp
